In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("What is America's most popular sport.xlsx", sheet_name='Sheet1')

In [3]:
df

,Year,Football,Basketball,Baseball,Soccer,Ice hockey,Auto racing,Tennis,Golf,Volleyball,...,Ice/Figure skating,Rodeo,Track and field,Fishing,Swimming,Wrestling,Bowling,Other,None,No opinion
0,2017,37,11,9,7,4,2,2,1,1,...,1,0,0,0,0,0,0,5,15,0
1,2013,39,12,14,4,3,2,3,2,0,...,1,0,1,1,0,0,0,4,11,0
2,2008,41,9,10,3,4,3,1,2,1,...,1,0,0,0,0,0,0,6,14,0
3,2007,43,11,13,2,4,3,1,2,0,...,2,0,0,0,0,1,0,3,12,1
4,2006,43,12,11,2,2,4,1,3,0,...,3,0,0,0,0,0,0,3,12,0
5,2005,34,12,12,3,4,5,3,2,1,...,3,1,0,1,0,1,0,4,13,0
6,2004,37,13,10,2,3,5,2,2,0,...,4,1,0,0,0,1,0,4,12,1

In [5]:
pd.melt(df, id_vars=['Year'], value_vars=df.columns[1:])

     Year    variable  value
0    2017    Football     37
1    2013    Football     39
2    2008    Football     41
3    2007    Football     43
4    2006    Football     43
5    2005    Football     34
6    2004    Football     37
7    2017  Basketball     11
8    2013  Basketball     12
9    2008  Basketball      9
10   2007  Basketball     11
11   2006  Basketball     12
12   2005  Basketball     12
13   2004  Basketball     13
14   2017    Baseball      9
15   2013    Baseball     14
16   2008    Baseball     10
17   2007    Baseball     13
18   2006    Baseball     11
19   2005    Baseball     12
20   2004    Baseball     10
21   2017      Soccer      7
22   2013      Soccer      4
23   2008      Soccer      3
24   2007      Soccer      2
25   2006      Soccer      2
26   2005      Soccer      3
27   2004      Soccer      2
28   2017  Ice hockey      4
29   2013  Ice hockey      3
..    ...         ...    ...
124  2005   Wrestling      1
125  2004   Wrestling      1
126  2017     Bowling      0
127  2013     Bowling      0
128  2008     Bowling      0
129  2007     Bowling      0
130  2006     Bowling      0
131  2005     Bowling      0
132  2004     Bowling      0
133  2017       Other      5
134  2013       Other      4
135  2008       Other      6
136  2007       Other      3
137  2006       Other      3
138  2005       Other      4
139  2004       Other      4
140  2017        None     15
141  2013        None     11
142  2008        None     14
143  2007        None     12
144  2006        None     12
145  2005        None     13
146  2004        None     12
147  2017  No opinion      0
148  2013  No opinion      0
149  2008  No opinion      0
150  2007  No opinion      1
151  2006  No opinion      0
152  2005  No opinion      0
153  2004  No opinion      1

[154 rows x 3 columns]