In [3]:
import pandas as pd

In [4]:
df = pd.read_excel("What is America's most popular sport.xlsx", sheet_name='Sheet1')

In [6]:
df

,Sport,Football,Basketball,Baseball,Soccer,Ice hockey,Auto racing,Tennis,Golf,Volleyball,...,Ice/Figure skating,Rodeo,Track and field,Fishing,Swimming,Wrestling,Bowling,Other,None,No opinion
0,2017,37,11,9,7,4,2,2,1,1,...,1,0,0,0,0,0,0,5,15,0
1,2013,39,12,14,4,3,2,3,2,0,...,1,0,1,1,0,0,0,4,11,0
2,2008,41,9,10,3,4,3,1,2,1,...,1,0,0,0,0,0,0,6,14,0
3,2007,43,11,13,2,4,3,1,2,0,...,2,0,0,0,0,1,0,3,12,1
4,2006,43,12,11,2,2,4,1,3,0,...,3,0,0,0,0,0,0,3,12,0
5,2005,34,12,12,3,4,5,3,2,1,...,3,1,0,1,0,1,0,4,13,0
6,2004,37,13,10,2,3,5,2,2,0,...,4,1,0,0,0,1,0,4,12,1

In [ ]:
df.pivot()